.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5); 

    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 1000;          
}

.modal-content {
  background: #c1c2df;
  border-radius: 8px;
  color: black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  // border-bottom: 1px solid #e5e5e5;
}

.modal-trigger {
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background: #e5e5e5;
  }
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.modal-body {
  padding: 24px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px 24px;
  border-top: 1px solid #e5e5e5;
}

[data-theme='dark'] .modal-content {
  background: #2d3748;
  color: white;
}

[data-theme='dark'] .modal-header {
  // border-bottom: 1px solid #4a5568;
}

[data-theme='dark'] .modal-trigger {
  &:hover {
    background-color: #374151;
  }
}

[data-theme='dark'] .modal-footer {
  border-top: 1px solid #4a5568;
}