.mainLayout {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: #374151;
}

.mainContent {
  width: 100%;
}

[data-theme='dark'] .mainLayout {
  background-color: #444f8f;
}