.mainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.mainContent {
  flex-grow: 1;
  max-width: 80rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}