.tabs {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin: 10px 10px 20px;
  // border-bottom: 1px solid #e0e0e0;
}

.tab {
  padding: 10px 15px;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f5f5f5;
    color: #333;
  }
}

.activeTab {
  composes: tab;
  background-color: #007bff;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: #0056b3;
    color: white;
  }
}