.mainLayoutContainer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 8px;
    margin-bottom: 12px;
    color: black
}

.appTitle {
    font-size: 30px; // text-3xl
    font-weight: 800; // font-extrabold
    color: #1f2937; // text-gray-900
    margin-bottom: 24px; // mb-6
    text-align: center;
}

.statusMessage {
    text-align: center;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.loading {
    composes: statusMessage;
    background-color: #f9fafb; // bg-gray-50
}

.error {
    composes: statusMessage;
    background-color: #fee2e2; // bg-red-100
    color: #b91c1c; // text-red-700
    border: 1px solid #fca5a5; // border-red-300
}

.empty {
    composes: statusMessage;
    background-color: #fffbeb; // bg-yellow-100
    color: #b45309; // text-yellow-700
}

[data-theme='dark'] .mainLayoutContainer {
    background-color: #444f8f;
    color: #d1d5db
}

[data-theme='dark'] .appTitle {
    color: #f9fafb;
}

[data-theme='dark'] .loading {
    background-color: #1f2937; /* dark gray for loading */
    color: #d1d5db; /* light gray text */
}

[data-theme='dark'] .error {
    background-color: #7f1d1d; /* dark red background */
    color: #f9fafb; /* light text */
    border: 1px solid #b91c1c; /* dark red border */
}

[data-theme='dark'] .empty {
    background-color: #713f12; /* dark yellow background */
    color: #f9fafb; /* light text */
    border: 1px solid #b45309; /* dark yellow border */
}